.config*
config.old
config.new
include/linux/autoconf.h
tools/version.h
.profile
.version
.depend
zImage 
zSystem.map 
zBoot/zSystem
zBoot/zSystem.out
tools/zSystem
Image
System.map
core
boot/bootsect
boot/setup 
boot/bootsect.ss
boot/setup.ss
boot/head.ss
zBoot/head.ss
init/main.s
tools/system
tools/build
.tags
.tags_sorted_by_file
*.o
*.s
*.a
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
.vagrant
ubuntu-xenial-16.04-cloudimg-console.log
floppy
images/
