.config*
config.old
config.new
include/linux/autoconf.h
tools/version.h
.profile
.version
.depend
zImage 
zSystem.map 
zBoot/zSystem
zBoot/zSystem.out
tools/zSystem
Image
System.map
core
boot/bootsect
boot/setup 
boot/bootsect.s 
boot/setup.s 
boot/head.s 
init/main.s
tools/system
tools/build
.tags
.tags_sorted_by_file
*.o
*.s
*.a
.fseventsd
